/*Contact content*/

.contact-content{
    height: 500px;
    margin: 5px auto 20px auto;
    padding-top: 20px;
    text-align: center;
    color: floralwhite;
    text-shadow: 2px 2px 4px rgba(110,69,43,0.7);
    background-size: auto 400px;
    background: url("../images/letter.png") no-repeat center;
    background-size:contain;
}

.contact-content h3{
    line-height: 130px;
}

.contact-content ul{
    /*margin-left: 70px;*/
    list-style: none;
    font-size: 16px;
    line-height: 50px;
}

/*Social network buttons*/
.Info {
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.icon{
    z-index: 2;
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    background-color: rgba(245,153,95,0.5);
    box-shadow: 2px 2px 4px rgba(110,69,43,0.7);
}


.icon a{
    color: rgba(250, 250, 136, 0.90);
    text-shadow: 2px 2px 4px rgba(110,69,43,0.7);
}

.Info li{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

 .Info li:hover {
    border-radius: 100px;
     -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
     -o-transform: rotate(360deg);
     -ms-transform: rotate(360deg);
     transform: rotate(360deg);
}

 .Info li a:hover{
     color: floralwhite;
 }



